{% extends "base.html" %} {% block title %}Booking{% endblock %} {% block content
%}
<h2 class="text-center">Book Tickets</h2>

<form method="POST" class="mt-4">
  <label>Date</label>
  <input type="date" class="date_str" name="date" class="form-control" required>

  <label class="mt-3">Adults</label>
  <input type="number" class="adultticket" name="adults" class="form-control" min="0" value="0">

  <label class="mt-3">Children</label>
  <input type="number" class="childrenticket" name="children" class="form-control" min="0" value="0">

  <button type="submit" class="btn btn-primary mt-4 w-100">
    Book Now
  </button>
</form>
{% endblock %}