{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="/static/images/tiger.png" class="d-block w-100">
    </div>

    <div class="carousel-item">
      <img src="/static/images/giraffe.png" class="d-block w-100">
    </div>

    <div class="carousel-item">
      <img src="/static/images/elephant.png" class="d-block w-100">
    </div>

  </div>

  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>

  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

<h3>Welcome to Riget Zoo Adventure</h3>
{% if user.is_authenticated %}
  <p>Welcome, <strong>{{ first_name }} {{ last_name }}</strong>!</p>
{% endif %}
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. ...</p>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, asperiores laborum? Fugit, necessitatibus suscipit veritatis nemo dignissimos eos et excepturi nesciunt quod impedit error ab facere laudantium ipsam voluptate expedita possimus nihil cumque tempore debitis ex voluptatibus deleniti in. Quos dolore, tempora veritatis deleniti libero ab, fugit quibusdam quo commodi optio incidunt necessitatibus id rem, rerum itaque. Eos, dicta! Recusandae obcaecati quo, fugit, pariatur nobis quae blanditiis facilis officia similique animi laudantium eligendi deserunt quam natus sit sint labore quisquam. Aliquid error delectus sed voluptates sequi amet illum magni, fugiat officia recusandae vitae facilis sapiente voluptatibus, voluptatem dolorum officiis praesentium?</p>

{% endblock %}