{% extends "base.html" %} {% block title %}Booking{% endblock %} {% block content
%}

<div class="card p-4">
  <h4>Appearance</h4>

  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="themeSwitch">
    <label class="form-check-label" for="themeSwitch">
      Enable Dark Mode
    </label>
  </div>
</div>

<script>
  const toggle = document.getElementById("themeSwitch");

  document.addEventListener("DOMContentLoaded", function () {
    const currentTheme = localStorage.getItem("theme");

    if (currentTheme === "dark") {
      toggle.checked = true;
    }

    toggle.addEventListener("change", function () {
      setTheme(this.checked ? "dark" : "light");
    });
  });
</script>



{% endblock %}